<!DOCTYPE html>
<html>
  <header>
    <% if current_user %>
    <%= current_user.username %>
    <% else %>
      <%= 'Not logged in!'  %>
    <% end %>
  </header>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
